<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  
    <connectionStrings>
        <add name ="connection" connectionString="Data Source=LAPTOP-D63POAPR\SQLEXPRESS;Initial Catalog=PrivateSchoolThanosKatrakis;Integrated Security=True" providerName="System.Data.SqlClient"></add>
    </connectionStrings>
  
</configuration>